<div class="row">
    <div class="col-12">
       
        <div class="row" ng-controller="memberCtrl">
            <div class="col-12">
                <h3 class="display-6">Create Member</h3>
                <div class="alert alert-success alert-dismissible fade show" role="alert" ng-if="modelError">
                    {{modelError}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <form name="cdForm" ng-submit="insertMember()">
                    <div class="form-group row mb-1">
                        <label class="col-form-label col-2">Member. Name</label>
                        <div class="col-4">
                            <input class="form-control" name="mName" ng-model="memberObj.Name" ng-maxlength="50" required />
                            <div class="text-danger" ng-show="!cdForm.mName.$pristine && cdForm.mName.$error.maxlength">Only 40 characters allowed.</div>
                            <div class="text-danger" ng-show="!cdForm.mName.$pristine && cdForm.mName.$error.required">This field is required.</div>
                        </div>
                    </div>
                    <div class="form-group row mb-1">
                        <label class="col-form-label col-2">Gender</label>
                        <div class="col-4">
                            <select class="form-select" name="mGender" ng-model="memberObj.Gender" ng-maxlength="50" required>
                                <option value="">Select</option>
                                <option value="0">Male</option>
                                <option value="1">Female</option>
                            </select>

                            <div class="text-danger" ng-show="!cdForm.mGender.$pristine && cdForm.mGender.$error.required">This field is required.</div>
                        </div>
                    </div>
                    <div class="form-group row mb-1">
                        <label class="col-form-label col-2">Phone</label>
                        <div class="col-4">
                            <input class="form-control" name="mPhone" ng-model="memberObj.Phone" ng-pattern="/^\d{5}[-]?\d{6}\r?$/" ng-maxlength="50" required />
                            <div class="text-danger" ng-show="!cdForm.mPhone.$pristine && cdForm.mPhone.$error.pattern">Phone number should be like 01710123456 or 017101-23456.</div>
                            <div class="text-danger" ng-show="!cdForm.mPhone.$pristine && cdForm.mPhone.$error.required">This field is required.</div>
                        </div>
                    </div>
                    <div class="form-group row mb-1">
                        <label class="col-form-label col-2">District</label>
                        <div class="col-4">
                            <select ng-change="getThana(memberObj.District)" class="form-select" name="mDistrict" ng-model="memberObj.District" ng-maxlength="50" required>
                                <option value="">Select</option>
                                <option value="Dhaka">Dhaka</option>
                                <option value="Chittagong">Chittagong</option>
                                <option value="Rajshahi">Rajshahi</option>
                            </select>

                            <div class="text-danger" ng-show="!cdForm.mDistrict.$pristine && cdForm.mDistrict.$error.required">This field is required.</div>
                        </div>
                    </div>
                    <div class="form-group row mb-1">
                        <label class="col-form-label col-2">Thana</label>
                        <div class="col-4">
                            <select class="form-select" name="mThana" ng-model="memberObj.Thana" ng-options="t for t in model.thanaList"  required>
                                <option value="">Select</option>
                               
                            </select>

                            <div class="text-danger" ng-show="!cdForm.mThana.$pristine && cdForm.mThana.$error.required">This field is required.</div>
                        </div>
                    </div>
                    <div class="form-group row mb-1">

                        <div class="col-10 offset-2">
                            <button type="submit"  class="btn btn-primary" ng-disabled="cdForm.$invalid" >Save</button>
                        </div>
                    </div>
                </form>
                <div class="col-12">
                    <a href="#!/members">Back to member list</a>
                </div>
            </div>
        </div>
    </div>
</div>